asis=0或者index
- 单行操作,表示一行
- 聚合操作,表示跨行cross rows
axis=1或者columns
- 单列操作，表示一列
- 聚合操作，表示跨列 cross columns

In [2]:
import pandas as pd
import numpy as np

data = pd.DataFrame(
    np.arange(12).reshape(3,4),
    columns=['A','B','C','D']
)
data

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [3]:
# 单列drop，删除某一列
data.drop("A",axis=1)

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

In [4]:
# 单行删除
data.drop(1,axis=0)

   A  B   C   D
0  0  1   2   3
2  8  9  10  11

In [5]:
# mean聚合操作 列取平均值
data.mean(axis=0)

A    4.0
B    5.0
C    6.0
D    7.0
dtype: float64

In [6]:
data.mean(axis=1)

0    1.5
1    5.5
2    9.5
dtype: float64