In [1]:
import pandas as pd
data = pd.read_csv("./data/index.csv")
data

   userId   regin    sum  timestamp
0    1001  regin1  0.1cc   10000001
1    1002  regin2  0.2cc   10000002
2    1003  regin3  0.3cc   10000003
3    1004  regin1  0.4cc   10000004
4    1005  regin2  0.5cc   10000005
5    1006  regin3  0.6cc   10000006
6    1007  regin1  0.7cc   10000007
7    1008  regin2  0.8cc   10000008
8    1009  regin3  0.9cc   10000009

In [3]:
data.count()

userId       9
regin        9
sum          9
timestamp    9
dtype: int64

In [5]:
# 修改索引列，索引列仍然保持
data.set_index("userId",inplace=True,drop=False)
data

        userId   regin    sum  timestamp
userId
1001      1001  regin1  0.1cc   10000001
1002      1002  regin2  0.2cc   10000002
1003      1003  regin3  0.3cc   10000003
1004      1004  regin1  0.4cc   10000004
1005      1005  regin2  0.5cc   10000005
1006      1006  regin3  0.6cc   10000006
1007      1007  regin1  0.7cc   10000007
1008      1008  regin2  0.8cc   10000008
1009      1009  regin3  0.9cc   10000009

In [7]:
data.index

Int64Index([1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009], dtype='int64', name='userId')

In [10]:
# 根据索引查询数据
data.loc[1003].head(1)

userId    1003
Name: 1003, dtype: object

In [12]:
# 将数据打散
from sklearn.utils import shuffle
data_shuffle = shuffle(data)
data_shuffle

        userId   regin    sum  timestamp
userId
1008      1008  regin2  0.8cc   10000008
1002      1002  regin2  0.2cc   10000002
1006      1006  regin3  0.6cc   10000006
1009      1009  regin3  0.9cc   10000009
1003      1003  regin3  0.3cc   10000003
1007      1007  regin1  0.7cc   10000007
1001      1001  regin1  0.1cc   10000001
1004      1004  regin1  0.4cc   10000004
1005      1005  regin2  0.5cc   10000005

In [13]:
# 索引是否递增
data_shuffle.index.is_monotonic_increasing

False

In [ ]:
# 索引是否唯一
data_shuffle.index.is_unique